@model IEnumerable<Kaiban.Models.Ads>
@{
    ViewBag.Title = "SearchAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchAds</h2>

@foreach (var ads in Model)
{
    <li>@ads.AdsName</li>

}

